language: node_js
sudo: false
node_js:
- '10.0'
env:
  global:
    secure: F+ra1ST18XUihh45NVfUBKHxN3HFS8GpybXTSJreUt9lAwSnXgeNhPlK4EF4WZX0Zkr7BcYgIfpTgpTM8/6bJYiDci+anf/oRevLPnlUbc/tSFJObi9uOZkL2hliNmTpM8LzVY4HLMGuoa8O5nhBmht4QR5VIgNLX02k77Bq3M137mD0dGCih0Xf9GKDUPQ9Tv5+lNvXQyI6SvQPdpsDgNOuAWYoI6s3VHeQ9ZXEWscKpbf1lmMDb619W9SAlj5gl8WqBkQrEAYXSkgUNILSFEVidczg9vUmcmGrtBJE2Xq3iY7rWiBSuAtAnKyRpZsMfC4CndMuAv4scYU7wZqY3NIGHTHfM/LmVIWmZ4qmjqt0VvraPvzAoKyOXepaCmBKHwdjfkZp/miJeKh4cU2/NJcR+fsNj9Tlyx3gXtZQB0doIEbgJV3Cz2OPmBxmT4kGMcvzqzBixCO4yEHrHkjGCK1VmC9cm6mrbnFa2eD6Lt8pV/uCfiUOQYFae9mTiZ2OX3TJlJWTyjMittU24xdqtlaaADFB7i5NdW9eIkruHVS3DWpNgvEsmqfpQxLtCtFgxhWgRGfOP1dt6F0Ec+/LPyRF8KMu8UzoGXKEQ2LtgsmbpB6wWYO8lTs3dhuBVrSedVs2iXZ8VLHdsfLNYVTUy9Z1gaE2nt0B7VWMkP35IDw=
before_install:
- npm install -g vsce@latest
install:
- npm install
script:
- npm run lint
- npm run compile
- cd client && vsce package -o vscode-sysl-$TRAVIS_TAG.vsix
deploy:
  provider: script
  skip_cleanup: true
  script: vsce publish -p $PUBLISH_TOKEN --packagePath client/vscode-sysl-$TRAVIS_TAG.vsix
  on:
    repo: anz-bank/vscode-sysl
    tags: true
    condition: "$TRAVIS_NODE_VERSION = 10.0"
