.**
**/*.ts
**/*.map
**/tsconfig.json
*.log
go.*
**/*.go
**/tmp*
tslint*.json
sysl

node_modules/**
test-resources/**
extension/test/**
renderer/**
!renderer/build
extension/plugins/**
!extension/plugins/**/*.arraiz
**/protocol/example/**
extension/protocol/plugin.schema.json
