.**
**/*.ts
**/*.map
**/tsconfig.json
*.log
go.*
**/*.go
**/tmp*
tslint*.json
sysl

node_modules/**
test-resources/**
extension/test/**
renderer/**
# TODO: Link and include sourcemap for main.js
!renderer/build/static/js/main.js
!renderer/build/static/css/main.css
extension/plugins/**
!extension/plugins/**/*.arraiz
!extension/plugins/erd
extension/protocol/plugin.schema.json
