.**
**/*.ts
**/*.map
**/tsconfig.json
*.log
go.*
tmp*
tslint*.json

node_modules/**
test-resources/**
extension/test/**
renderer/**
!renderer/build
extension/plugins/**
!extension/plugins/**/*.arraiz
