name: Check versions

on:
  pull_request:
    branches:
      - master
    paths:
      - packages/**
      - .github/**

jobs:
  check-version:
    runs-on: ${{ vars.RUNNER_UBUNTU && fromJSON(vars.RUNNER_UBUNTU) || 'ubuntu-latest' }}
    strategy:
      matrix:
        package:
          - extension
          - model
          - plugin
          - renderer
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          git checkout $GITHUB_BASE_REF
          git checkout -
      # Fails if the files in a package have changed, but the package.json version hasn't.
      # Doesn't fail if the version has changed but files haven't.
      - name: Ensure new version
        run: |
          BASE=$(git show $GITHUB_BASE_REF:packages/${{ matrix.package }}/package.json | jq -r '.version')
          HEAD=$(git show HEAD:packages/${{ matrix.package }}/package.json | jq -r '.version')
          CHANGED=$(git diff --quiet master -- packages/${{ matrix.package }} || echo 1)
          if [ "$CHANGED" = "1" ] && [ "$BASE" = "$HEAD" ]; then
            echo "Changes to '${{ matrix.package }}' without change to version ($HEAD)";
            exit 1;
          fi
